@import "nullstyle.scss";

.wrapper {
	padding: 50px;
}

.block {
	margin: 0px 0px 30px 0px;
	.block__item{
		.block__title {
			width: 100%;
			text-align: left;
			font-size: 18px;
			background-color: transparent;
			color: green;
			padding: 10px;
			position: relative;
		}
		.block__text {
			padding: 0px 10px 10px;
			line-height: 130%;
		}
	}
}

.block__1 .block__item{
	background-color: #77608d;
}

.block._init {
	& .block__title {
		cursor: pointer;
	}

	& .block__title {
		padding: 10px 40px 10px 10px;
		&::before,
		&::after {
			content: "";
			width: 20px;
			height: 1px;
			background-color: #fff;
			position: absolute;
			right: 10%;
			top: 20px;
			transition: transform 1s ease 0s;
		}

		&::after {
			transform: rotate(-90deg);
		}
		&._active::after {
			transform: rotate(0deg);
		}
	}
}

.text__after {
	visibility: hidden;
	&._init {
		visibility: visible;
	}
}