@import "nullstyle.scss";

.wrapper {
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.page {
    width: 100%;
    height: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    border: 1px solid #C0C0C0;
}

.header__container {
    display:flex;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex-grow: 2;
    order: 1;
}

.form__search {
    display: flex;
    justify-content: space-between;
    width: 180px;
    order: 3;
    .input__header {
        height: 35px;
        width: 150px;
        border: 5px solid #DCDCDC;
    }
    .search__button {
        height: 35px;
        width: 35px;
        color: #dcdcdc;
        .search__icon {
            color: #dcdcdc;
        }
    }
}

.menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer 
}

.header__menu {
    order: 2;
    flex: 0 1 80px;
    display: flex;
    justify-content: center;
    
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
}
.menu__icon::before,
.menu__icon::after {
    content: "";

}
.menu__icon::before {
    top: 0;
}
.menu__icon::after {
    bottom: 0;
}
.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

@media (max-width: 990px) {
    .header__menu {
        order: 3;
    }
    .form_search {
        order: 2;
    }
}


.sect__1 {
    .sect__wrap{
        position: relative;
        .img_sect_wrap {
            img {
                max-height: 653px;
                width: 100%;
                overflow: hidden;
                object-fit: cover;
            }
        }
        .sect_wrap_block{  
            position: absolute;
            top:0;
            left:0;
            width: 94.5%;
            display: flex;
            height: 100%;
            .sect_wrap_block_d {
                width: 29%;

            }
            .sect_wrap_block_1 {
                background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 31%;

                .block__content_1 {
                    width: 80%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    .mount__svg{
                        width: 130px;
                        height: 130px;
                    }
                    .text__h2{
                        font-family: Oswald;                    
                    }
                    .text__1 {
                        font-size: 51px;
                        font-weight: 700;
                        color :rgb(68, 196, 161);
                        line-height: 61.2px;
                        margin-bottom: 10px; 
                    }
                    .text__2 {
                        color: rgb(214, 120, 24);
                        line-height: 38.25px;
                        font-weight: 400;
                        font-size: 31.25px;
                        font-family: "Palanquin Dark"; 
                    }
                    .div__socnet {
                        height: 60%;
                        display: flex;
                        justify-content: flex-end;
                        flex-direction: column;
                        align-content: flex-start;
                        .div__blocknet {
                            .social{
                                margin-right: 16px;
                                svg{
                                width: 27px;
                                height: 27px;
                                }
                                &:last-child{
                                    margin: 0px;
                                }
                            }
                        }
                    }   
                }
            }
            .sect_wrap_block_2 {
                width: 48%;
            }
            .sect_wrap_block_3 {
                background-color: rgb(214, 120, 24);
                opacity: .9;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 39%; 
                .block__content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    padding: 49px;
                    .div_line{
                        order:1;
                        width: 60px;
                        height: 6px;
                        transform-origin: left center;
                        margin: 0 auto 0 0;
                        background-color: #fff;
                        margin-bottom: 20px;
                    }
                    p {
                        opacity: .6;
                        order: 2;
                        font-size: 21.25px;
                        line-height: 36.1333px;
                        color: #fff;
                        font-weight: 300;
                    }
                }
            }
        }
    } 
}

.sect__2 {
    height: 701px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    .sect__wrap {
        height: 100%;
        width: 89%;
        .sect_wrap_block {     
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .sect_wrap_block_d {
                width: 361px;
                height: 100%;
            }
            .sect_wrap_block_1 {
                background-color: #fff;
                width: 392px;
                .block__content {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    .block__img{
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        img {
                            width: 90%;
                        }
                     }
                    .block_wrap_text {
                        height: 70%;
                        display: flex;
                        align-items: flex-end;   
                        .block__text {
                            background-color: rgb(224, 229, 235);
                            width: 93%;
                            height: 100%;
                            padding: 20px;
                            h6 {
                                font-family: Lato;
                                font-size: 31.875px;
                                font-weight: 900;
                                letter-spacing: 5px;
                                line-height: 40px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                            }
                            p {
                                margin-top:18px;
                                width: 100%;
                                font-family: Lato;
                                font-size: 17px;
                                font-weight: 400;
                                line-height: 27.2px;
                                overflow-wrap: break-word;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
            .sect_wrap_block_2 {
                margin-right: 30px;
                .block__content {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    .block__img {
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;

                        }
                    }
                    .block_wrap_text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: flex-end; 
                        .block__text {
                            background-color: rgb(214, 120, 24);
                            padding: 20px;
                            height: 46%;
                            width: 80%;
                            margin-bottom: 5px;
                            h6 {
                                font-family: Lato;
                                font-size: 31.875px;
                                font-weight: 900;
                                letter-spacing: 5px;
                                line-height: 40px;
                                padding-bottom: 20px;
                                color: #fff;
                            }
                            p {
                                color: #fff;
                                width: 100%;
                                font-family: Lato;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 27.2px;
                                text-align: left;
                                overflow-wrap: break-word
                            }
                        }
                    }
                }
            }
            .sect_wrap_block_3 {
                .block_wrap_text {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .block_text {
                        p {
                            width: 100%;
                            color: rgb(153, 153, 153);
                            font-family: Lato, sans-serif;
                            font-size: 17px;
                            font-weight: 500;
                            line-height: 27.2px;
                            text-align: left;
                            overflow-wrap: break-word
                        }
                    }
                }
            }
        }

    }
}
.sect__3 {
    margin-bottom: 60px;
    height: 711px;
    .sect__wrap {
        width: 100%;
        height: 100%;
        .sect_wrap_block {
            width: 100%;
            height: 100%;
            .title {
                padding-top: 140px;
                display: flex;
                justify-content: center;
                align-content: flex-start;
                h2 {
                    color: rgb(214, 120, 24);
                    font-size: 63.75px;
                    font-weight: 700;
                    line-height: 76.5px;
                }
            }
            .block__content{
                width: 100%;
                height: 100%;
                .content__wrap {
                    height: 80%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .orange__block {
                        width: 100%;
                        height: 193px;
                        background-color: rgb(214, 120, 24);
                    }
                    .person_wrap_block{
                        position: absolute;
                        top: 10%;
                        left: 0;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .person__wrap {
                            margin: 20px;
                            .person {
                                padding-top: 20px;
                                width: 359px;
                                height: 405px;
                                background-color: rgb(242, 242, 242);
                                .img__block {
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 20px;
                                    img {
                                        border-radius: 50%;
                                        height: 180px;
                                        width: 180px;
                                    }
                                }

                                h5 {
                                    font-family: Lato;
                                    color: rgb(17, 17, 17);
                                    text-align: center;
                                    font-size: 21.25px;
                                    font-weight: 700;
                                    line-height: 25.5px;
                                    margin-bottom: 7px;
                                }

                                h6 {
                                    font-family: Lato;
                                    text-align: center;
                                    font-size: 17px;
                                    font-weight: 400;
                                    letter-spacing: 3px;
                                    margin-bottom: 25px;
                                    text-transform: uppercase;
                                }

                                p {
                                    text-align: center;
                                    margin: 0 20px 0 20px;
                                    font-family: Lato;
                                    font-size: 17px;
                                    font-weight: 400;
                                    line-height: 27.2px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sect__4 {
    height: 874px;
    .sect__wrap {
        height: 100%;
        width: 100%;
        .sect_wrap_block {
            height: 100%;
            width: 1140px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            .block__grey {
                height: 100%;
                width: 675px;
                top: 0;
                right: 325px;
                position: absolute;
                background-color: rgb(229, 229, 229);
            }
            .block__foto {
                z-index: 2;
                height: 68%;
                width: 93%;
                padding-bottom: -40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 18px;
                .foto {
                    margin: 0 8px 0;
                    img {
                        width: 368px;
                        height: 397px;
                        object-fit: cover;
                        overflow: hidden;
                    }
                }
            }
            .block__text {
                z-index: 2;
                .block_text_row {
                    display: flex;
                    .block_text_1 {
                        width: 50%;
                        h2 {
                            color: rgb(214, 120, 24);
                            font-family: "Palanquin Dark";
                            font-size: 63.75px;
                            font-weight: 700;
                            line-height: 63.75px;
                            overflow-wrap: break-word;
                        }
                    }
                    .block_text_2 {
                        width: 50%;
                        p { 
                            color: rgb(85, 92, 102);
                            font-family: Lato;
                            font-size: 17px;
                            font-weight: 700;
                            letter-spacing: 2px;
                            line-height: 27.2px;
                            overflow-wrap: break-word;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    } 
}

.sect__5 {
    max-height: 745px;
    .sect__wrap {
        .sect_wrap_block {
            position: relative;
            .block__img {
                img {
                    object-fit: cover;
                    overflow: hidden;
                    width: 100%;
                    max-height: 745px;
                }
            }
            .block__content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
                background-color:rgba(214,120,24,0.45);
                display: flex;
                align-items: center;
                flex-direction: column;
                .block__title {
                    padding-top: 100px;
                    margin-bottom: 50px;
                    h1 {
                        font-family: 'Palanquin Dark';
                        line-height: 1.2;
                        font-weight: 900;
                        font-size: 5.5rem;
                        letter-spacing: 2px;
                        margin: 60px auto 0;
                        color: #fff;
                    }
                }
                .text__row {
                    color: #fff;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;  
                    .block_text {
                        height: auto;
                        width: 246px;
                        padding: 10px 20px 10px;
                        h4 {
                            font-family: Montserrat, sans-serif !important;
                            font-style: italic;
                            line-height: 1.2;
                            font-size: 1.8rem;
                            text-align: center;
                            margin-bottom: 26px;
                            font-weight: 400;
                        }
                        p {
                            font-family: Montserrat, sans-serif !important;
                            font-weight: 400;
                            font-style: italic;
                            text-align: center;
                            line-height: 1.6;
                            font-size: 1.2rem;
                            margin-bottom: 40px;
                        }
                        .anchor {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            a {
                                font-family: Montserrat, sans-serif;
                                font-weight: 700;
                                text-transform: uppercase;
                                font-size: 1rem;
                                background-image: none;
                                border-style: solid;
                                border-width: 2px;
                                border-color: #fff;
                                letter-spacing: 1px;
                                line-height: 1.4;
                                text-align: center;
                                padding: 10px 30px 10px;
                                color: #fff;
                            }
                        }
                    }
                }    
            }
        }
    }
}
.sect__6 {
    height: 828px;
    .sect__wrap {
        .sect_wrap_block {
            height: 100%;   
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .block__orange {
                width: 53%;
                height: 228px;
                background-color: #d67818;
            }
            .block__content {
                .block__foto {

                }
                .block__text {
                    .title {

                    }
                    .content {

                    }
                    .anchor {

                    }
                }
            }
        }
    } 
}