@import "nullstyle.scss";

.wrapper {
    min-height: 100%;
    height: auto !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.page {
    width: 100%;
    height: 100%;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
    border: 1px solid #C0C0C0;
}

.header__container {
    display:flex;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 30px;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    flex-grow: 2;
    order: 1;
}

.form__search {
    display: flex;
    justify-content: space-between;
    width: 180px;
    order: 3;
    .input__header {
        height: 35px;
        width: 150px;
        border: 5px solid #DCDCDC;
    }
    .search__button {
        height: 35px;
        width: 35px;
        color: #dcdcdc;
        .search__icon {
            color: #dcdcdc;
        }
    }
}

.menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer 
}

.header__menu {
    order: 2;
    flex: 0 1 80px;
    display: flex;
    justify-content: center;
    
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000;
}
.menu__icon::before,
.menu__icon::after {
    content: "";

}
.menu__icon::before {
    top: 0;
}
.menu__icon::after {
    bottom: 0;
}
.menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

@media (max-width: 990px) {
    .header__menu {
        order: 3;
    }
    .form_search {
        order: 2;
    }
}

.sect__1 {
    height: 620px;
    .img_sect_wrap {
        width: 100%;
        position: relative;
        z-index: 1;
        img {
            max-height: 620px;
            width: 100%;
        }
    }
    .sect_wrap{
        .sect_wrap_block{
            z-index: 2;
            height: 620px;
            max-width: 100%;
            position: absolute;
            .sect_wrap_block_d {
                width: 620px;
                max-height: 100%;
                color: #aeaeae;
            }
        }
    }
}

